

@mixin createArrow($size, $side) {
  @if $side == 'up' {
    width: 0; 
    height: 0; 
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid black;
  }
  @else if $size == 'down' {
    width: 0; 
    height: 0; 
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid black;
  }
   @else if $size == 'left' {
    width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent; 
  
  border-right: $size solid blue; 
  }
   @else if $size == 'right' {
    width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid green;
  }
}

.arrow {
  @include createArrow(100px, 'left'); 
}
